.Card{
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    font-family: Oswald;
    margin: 15px;
    display: flex;
    flex-direction: column;

    max-width: 500px;
    min-width: 500px;
}

.Card .Title{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content{
    background-color: white;
    color: black;
    padding: 10px;
    flex: 1;
}